body {
    background-image: url("../images/background.jpg");
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 100px;
    margin-bottom: 50px;
    color:  rgb(161, 86, 36);
    border: 5px dotted rgb(109, 65, 23);
    background-color: peru;
    width: auto;
    position: relative;
    
}

#start {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    font-size: 80px;
    color:  rgb(161, 86, 36);
    border: 5px dotted rgb(109, 65, 23);
    background-color: peru;
    width: 800px;
    position: absolute;
    margin-left: 115px;
}

.questions {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    font-size: 25px;
    color:  rgb(161, 86, 36);
    border: 5px dotted rgb(109, 65, 23);
    background-color: peru;
    width: auto;
    margin: 10px;
}

#done {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 100px;
    color:  rgb(161, 86, 36);
    border: 5px dotted rgb(109, 65, 23);
    background-color: peru;
    width: auto;
}
